.testimony:nth-child(1){
  color: orange;
  font-weight: bold;
}
.testimony>:nth-child(2),
.testimony>:nth-child(3){
  font-weight: bold;
  font-size: 3rem;
}
.rightTest>img{
  position: absolute;
  width: 17rem;
  height: 20rem;
  object-fit: cover;
  right: 8rem;
  top: 2rem;
}
.rightTest>:nth-child(1){
  position: absolute;
  width: 17rem;
  height: 20rem;
  border: 2px solid orange;
  background-color: transparent;
  right: 9rem;
  top: 0.9rem;
}
.rightTest>:nth-child(2){
  position: absolute;
  width: 17rem;
  height: 19rem;
  right: 7rem;
  top: 4rem;
  background: orangered;
}
.arrows>img{
  width: 1.5rem;
  cursor: pointer;
}
.review-style {
  text-transform: none;
  text-align: justify;
  letter-spacing: 2px;
  line-height: 40px;
}